@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');*
.hero-baner {
    width: 100%;
    height: 50vh;
    background-color: #f2f2f2;
    display: flex;
    z-index: 111;
    position: relative;
}
.blue-bar{
    height: 100%;
    width: 20%;
    background-color: #007bff;
}
.gray-bar{
    height: 100%;
    width: calc(100% - 20%);
    background-color: #f8f9fa;
}
.hero{
    box-sizing: border-box;
    position: absolute;
    width: 480px;
    margin-top: 5px;
    margin-left: 100px;
    transform: rotate(20deg);
    /*display: none;*/
    /*border: solid 1px rgba(181, 188, 196, 1);*/
    /*box-shadow: 1px 1px 3px #264653;*/
    /*visibility: hidden*/
}
.best-of-the-week{
    letter-spacing: 1px;
    font-size:  50px;
    font-family: 'Lobster',
    cursive;
    text-align: center;
    max-width: 300px;
    margin-top: 65px;
}
.box-baner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fa-crown{
    color: #ffb703;
}
.btn-see-best-of-the-week{
    border: solid #007bff 2px;
    font-size: 18px;
    background-color: #007bff;
    padding: 15px 0px;
    border-radius: 4px;
    text-decoration: none;
    color: #f8f9fa;
    margin-top: 25px;
    padding: 15px 25px;
    transition: all .8s;
}

.btn-see-best-of-the-week:hover,
.btn-see-best-of-the-week:active {
    color: #007bff;
    background-color: #f2f2f2
}