@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
.logo-point{
  color: #007BFF;
  font-size: 60px;
}
*{
  font-family: 'Poppins', sans-serif;
}
.responsive-menu-icon{
  display: none;
}
a{
  text-decoration: none;
  color: #000;
}
.logo{
    font-size: 30px;
    font-family: 'Carter One', cursive;
    padding-bottom: 20px;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menu{
  display: flex;
}
.menu li{
  position: relative;
  margin: 20px;
  display: flex;
  font-weight: 500;
}
.menu li a{
  color: #555;
}

.nav-link{
  position: relative;
  padding: 4px 0;
  transition: .5s;
}
.nav-link::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #007bff;
  transition: transform .7s;
  transform: scaleX(0);
  transform-origin: right;
}
.nav-link:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.menu li a:hover,
.search-cencel:hover,
.from-cancel:hover{
  color: #007BFF;
  transition: all ease .3s;
}
.bag-icon{
  position: relative;
}
.num-cart-product{
  position: absolute;
  top: 20px;
  right: 19px;
  width: 23px;
  height: 23px;
  font-size: .8rem;
  border-radius: 50%;
  background-color: #007BFF;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.right-menu a{
  margin: 0px 10px;
  border-radius: 50%;
}
.right-menu a:hover{
  background-color: rgba(227,227,231,.4);
  transition: all ease .5s;
}
.right-menu .right-icon.cart{
  padding-top: 15px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 3px;
}
.right-menu .right-icon.hearth{
  padding-top: 16px;
  padding-right: 4px;
  padding-left: 7px;
  padding-bottom: 2px;
}
.right-menu .right-icon.user,
.right-menu .right-icon.search{
  padding-top: 16px;
  padding-right: 2px;
  padding-left: 7px;
  padding-bottom: 2px;
}
.search-bar{
  width: 100%;
  height: 300px;
  background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, .1);
  z-index: 101;
  animation: search .3s;
}
.search-input{
  width: 90%;
  border-bottom: 2px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}
.search-bar input{
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}
.search-bar input:focus{
  color: #007bff;
}
.search-cancel{
  color: #272727;
  font-size: 2rem;
  padding-right: 40px;
}
.search-bar{
  display: none;
}
.search-bar-active{
  display: flex;
}
@keyframes search {
  0%{
    bottom: -300px;
  }
  100%{
    bottom: 0px;
  }
}

.form{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}
.login-form,
.sign-up-form{
  width: 420px;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}
.login-form form,
.sign-up-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login-form strong,
.sign-up-form strong{
  color: #272727;
  font-size: 2rem;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
}
.login-form input,
.login-form button,
.sign-up-form input,
.sign-up-form button{
  width: 90%;
  height: 45px;
  margin: 6px 10px;
  padding: 0px 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 7px;
}
.login-form input::placeholder,
.sign-up-form input::placeholder{
  color: rgba(0, 0, 0, .5);
}
.login-form button[type="submit"],
.sign-up-form button[type="submit"]{
  background-color: #007BFF;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.form-btns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-top: 10px;
}
.form-btns a{
  color: #555;
  font-size: .9rem;
}
.sign-up-btn{
  border-bottom: 1px solid #868686;
  line-height: 16px;
}
.form-cancel{
  position: absolute;
  right: 20px;
  top: 15px;
  color: #868686;
}
.login-form,
.sign-up-form,
.form{
  display: none;
}
.login-active,
.login-active .login-form{
  display: flex;
  animation: fade .3s;
}
.sign-up-active,
.sign-up-active .sign-up-form{
  display: flex;
  animation: fade .3s;
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.responsive-menu-and-search{
  display: none;
}

/********* responsive **********/
@media screen and (max-width: 800px){
  .menu{
    display: none;
  }
  .right-menu a{
    margin: 0px 5px;
  }
  .navigation{
    padding: 1px 10px;
    position: static;
  }
  .logo{
    padding-bottom: 6px;
    margin-top: -8px;
  }
  .responsive-menu-and-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 45px;
    border: rgba(0, 0, 0, .3) 1px solid;
    border-right: none;
    border-left: none;
  }
  .responsive-menu{
    width: 13%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-responsive{
    width: 97%;
  }
  .search-responsive input{
    width: 100%;
    height: 100%;
    outline: none;
    border: rgba(0, 0, 0, .3) 1px solid;
    border-top: none;
    border-bottom: none;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 40px;
    position: relative;
  }
  .search-responsive svg{
    position: absolute;
    right: 10px;
    top: 70px;
  }
}
